body{
margin: 0;
padding: 0;
font-family: Titillium Web;
colour: darkgrey;
background: #f3f3f3;
}

h2{
colour: white;
}

.container{
max-width: p60px;
width: 96%;
margin: auto;
}

header{
background: #fff;
margin-bottom: 20px;
overflow: hidden;
}

.logo{
float: left;
margin-top: 10px;
}

nav{
floats: right;
line-height: 70px;
}

nav li{
display: inline-block;
padding: 5px 20px;
margin-left: 10px;
background: #f3f3f3;
line-height: normal;
}

.content h2{
background: #b3c6ff;
padding: 10px;
border-radius: Spx;
margin-botton: 20px;
}

.content article{
float: left;
width: 600px;
}

.face {
  width: 300px;
  padding-left: 100px
}

.job {
  width: 100px;
  padding-left: 100px
}
