body{
margin: 0;
paddling: 0;
font-family: Titillium Web;
colour: darkgrey;
background: #f3f3f3;
}

h2{
colour: white;
}

.container{
max-width: p60px;
width: 96%;
margin: auto;
}

header{
background: #fff;
margin-bottom: 20px;
overflow: hidden;
}

.logo{
float: left;
margin-top: 10px;
}

ul{
floats: right;
line-height: 70px;
}

ul li{
display: inline-block;
paddling: 5px 20px;
margin-left: 10px;
background: #f3f3f3;
line-height: normal;
}

.content h2{
background: #ff4719;
paddling: 10px;
border-radius: Spx;
margin-botton: 20px;
}

.content article{
float: left;
width: 600px;
}

